/*.api {*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*display: inline-flex;*/
    /*border: 1px solid black;*/
    /*margin: auto;*/

/*}*/
#for0 {

}

#for1 {

}
 #for2 {

 }



.forecast {

    border: 1px solid #000;
    display: inline-flex;
    width: 200px;
    margin: auto;
    left: 236px;

    text-align: center;
    list-style-type: none;
    background-color: orange;
    position: relative;
    left: 150px;
}
#map {
    margin:auto;

    width: 600px;
    height: 481px;
    border: 2px solid black;
    position: relative;

}
body{
    background-image: url('../img/rain.jpeg');
}